$darkcolor: #1b4965;
$lightcolor:#62b6cb;


@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Raleway&family=Ubuntu&display=swap');

body {
    font-family: raleway, ubuntu !important;
    font-weight: lighter !important;
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 27rem;
    // min-height: 100vh;
    border: 1px solid black !important;
    color: $darkcolor;
    margin-top: 12%;
    background-color:$lightcolor;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    border: 2px solid $lightcolor !important;
    a{
        color: $darkcolor !important;
    }
    a:hover{
        color: $darkcolor !important;
        text-decoration: underline;
    }

}

.inputs{
border: none;
outline: none;

}
#lostPass{
 text-align: right ;   
 display: block;
 text-decoration: none;
 font-size: 12px;
}
.inputs{
    background-color: $darkcolor;
    color: $lightcolor;
}
.inputs:focus{
    background-color:rgba(145, 15, 41, 0.925);
    color: $lightcolor;
}
.inputs::placeholder{
    color: $lightcolor;
}
.icons{
    background-color: $darkcolor;
    color: $lightcolor;
    border: none;
}



// @media screen and (max-width:700px){
//     .container{
//         width: 95%;
//         margin-top: 30%;
//         border: none;
//         border-radius: 10px;
//     }
// }
